.WhatsAppWrapper {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 1;
}

.WhatsAppLink {
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  background-image: linear-gradient(
    160deg,
    #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b,
    #a54e07
  );
  border: 1px solid #a55d07;
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  background-size: 100% 100%;
  background-position: center;
  transition: background-size 0.3s cubic-bezier(0, 0, 0.33, 0.93) box-shadow
    0.3s cubic-bezier(0, 0, 0.33, 0.93);

  &:hover,
  &:focus {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
      inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border: 1px solid rgba(165, 93, 7, 0.6);
    color: rgba(120, 50, 5, 0.8);
  }

  &:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
      inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  }
}

.ContactIcon {
  width: 26px;
  height: auto;
}

.PriceListRow {
  @media only screen and (min-width: 680px) {
    display: grid;
    gap: 60px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
  }
}

.TeamMembers {
  @media only screen and (min-width: 680px) {
    display: grid;
    gap: 30px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
  }
}

.ProfilePicture {
  margin-bottom: 16px;
}
