.Heading {
  font-size: 1.25rem;
  font-weight: 900;
}

.NoMargin {
  margin-bottom: 0;
}

.TimeSlot {
  margin-bottom: 0.8rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.ContactLink {
  display: inline-flex;
  gap: 0.625rem;
  align-items: center;
  padding-bottom: 5px;
}

.PriceItem {
  display: flex;
  justify-content: space-between;

  strong {
    min-width: 50px;
    text-align: right;
  }
}

.PriceItemNoMargin {
  display: flex;
  justify-content: space-between;
  margin: 0;

  strong {
    min-width: 50px;
    text-align: right;
  }
}
