@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

html {
  background-color: #e38ac2;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/website-background.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

main {
  position: fixed;
  inset: 0;
  overflow: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-weight: 900;
  font-size: 16px;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 16px;
}

a {
  background-position: 0 100%, 100% 100%, 0 100%;
  color: black;
  background-image: linear-gradient(black, black),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(black, black);
  background-repeat: no-repeat;
  background-size: 0 1px, 100% 1px, 0 1px;
  display: inline;
  padding-bottom: 1px;
  position: relative;
  transition: background-size 0.3s cubic-bezier(0, 0, 0.33, 0.93);
}

a:hover,
a:focus {
  background-size: 0 1px, 0 1px, 100% 1px;
}

ul {
  margin-left: 16px;
}

li {
  list-style-type: disc;
  margin-bottom: 6px;
}
